/*table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}*/

#full-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, 620px);
}

#download-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 490px;
}