.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 620px);
}

svg {
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*    height: 50%;
    width: 50%;*/
    font: 12px sans-serif;
}

.background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    /*stroke: steelblue;*/
    stroke-opacity: 1.0;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
    cursor: move;
}